<!-- Header -->
<header class="header header-three" [ngClass]="{'sticky' : sticky === true}">
	<nav class="navbar navbar-expand-lg header-nav">
		<div class="navbar-header">
			<a id="mobile_btn"  (click)="toggleSidebar()" href="javascript:void(0);">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>
			<a [routerLink]="'/home'"class="navbar-brand logo scroll-logo">
				<img src="assets/img/logo-white.png" class="img-fluid" alt="Logo">
			</a>
			<a [routerLink]="'/home'" class="navbar-brand logo original-logo">
				<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
			</a>
		</div>
		<div class="main-menu-wrapper">
			<div class="menu-header">
				<a [routerLink]="'/home'" class="menu-logo">
					<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
				</a>
				<a id="menu_close" class="menu-close" (click)="hideSidebar()" href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<ul class="main-nav">
				<li class="active has-submenu">
					<a [routerLink]="'/home'" >Home <i class="fas fa-chevron-down"></i></a>
					<ul class="submenu">
						<li ><a [routerLink]="'/home'">Home</a></li>
						<li><a [routerLink]="'/home2'">Home-2</a></li>
						<li class="active"><a [routerLink]="'/home3'">Home-3</a></li>
						<li><a [routerLink]="'/home4'">Home-4</a></li>
						<li><a [routerLink]="'/home5'">Home-5</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="">For Employers <i class="fas fa-chevron-down"></i></a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="javascript:void(0);">Freelancer</a>
							<ul class="submenu">
								<li><a [routerLink]="'/employer/developer'">Freelancer</a></li>
								<li><a [routerLink]="'/freelancer/developers-details'">Freelancer Details</a></li>
							</ul>
						</li>
						<li><a [routerLink]="'/employer/dashboard'">Dashboard</a></li>
              <li>
                <a [routerLink]="'/employer/company-profile'">My Profile</a>
              </li>
              <li>
                <a [routerLink]="'/employer/company-details'"
                  >Company Details</a
                >
              </li>
              <li>
                <a [routerLink]="'/employer/manage-projects/all-projects'"
                  >Projects</a
                >
              </li>
              <li>
                <a [routerLink]="'/employer/favourites/markedfavourites'"
                  >Favourites</a
                >
              </li>
              <li>
                <a [routerLink]="'/employer/membership-plans'">Membership</a>
              </li>
              <li>
                <a [routerLink]="'/employer/milestones/milestone'"
                  >Milestones</a
                >
              </li>
              <li><a [routerLink]="'/employer/chats'">Chats</a></li>
              <li><a [routerLink]="'/employer/review'">Review</a></li>
              <li><a [routerLink]="'/employer/deposit-funds'">Payments</a></li>
              <li>
                <a [routerLink]="'/employer/verify-identity'"
                  >Verify Identity</a
                >
              </li>
              <li>
                <a [routerLink]="'/employer/profile-settings/basic-settings'"
                  >Settings</a
                >
              </li>							
					</ul>
				</li>
				<li class="has-submenu">
					<a href="javascript:void(0);"
					  >For Freelancer<i class="fas fa-chevron-down"></i
					></a>
					<ul class="submenu" id="employer">
					  <li class="has-submenu">
						<a href="javascript:void(0);">Projects</a>
						<ul class="submenu">
						  <li><a [routerLink]="'/freelancer/project'">Projects</a></li>
						  <li>
							<a [routerLink]="'/freelancer/project-details'"
							  >Project Details</a
							>
						  </li>
						</ul>
					  </li>
					  <li><a [routerLink]="'/freelancer/dashboards'">Dashboard</a></li>
					  <li>
						<a [routerLink]="'/freelancer/developer-profile'">My Profile</a>
					  </li>
					  <li>
						<a [routerLink]="'/freelancer/developers-details'"
						  >Freelancer Details</a
						>
					  </li>
					  <li>
						<a
						  [routerLink]="
							'/freelancer/freelancer-projects/projects-proposals'
						  "
						  >Projects</a
						>
					  </li>
					  <li>
						<a [routerLink]="'/freelancer/freelancer-favourite/favourite'"
						  >Favourites</a
						>
					  </li>
					  <li><a [routerLink]="'/freelancer/membership'">Membership</a></li>
					  <li>
						<a
						  [routerLink]="
							'/freelancer/freelancer-settings/change-passwords'
						  "
						  >Change Password</a
						>
					  </li>
					  <li><a [routerLink]="'/freelancer/message'">Chats</a></li>
					  <li><a [routerLink]="'/freelancer/reviews'">Review</a></li>
					  <li><a [routerLink]="'/freelancer/portfolio'">Portfolio</a></li>
					  <li><a [routerLink]="'/freelancer/payments'">Payments</a></li>
					  <li>
						<a [routerLink]="'/freelancer/verify-identitys'"
						  >Verify Identity</a
						>
					  </li>
					  <li>
						<a [routerLink]="'/freelancer/profile-setting'">Settings</a>
					  </li>
					</ul>
				  </li>
				  <li class="has-submenu">
					<a href="javascript:void(0);"
					  >Pages <i class="fas fa-chevron-down"></i
					></a>
					<ul class="submenu" id="pages">
					  <li><a [routerLink]="'/pages/about'">About us</a></li>
					  <li><a [routerLink]="'/pages/blank-page'">Starter Page</a></li>
					  <li><a [routerLink]="'/auth/404-page'">404 Page</a></li>
					  <li class="has-submenu">
						<a href="javascript:">Invoices</a>
						<ul class="submenu">
						  <li>
							<a [routerLink]="'/freelancer/freelancer-payments/invoices'"
							  >Invoices</a
							>
						  </li>
						  <li>
							<a [routerLink]="'/pages/view-invoice'">Invoice View</a>
						  </li>
						</ul>
					  </li>
					  <li><a [routerLink]="'/auth/login'">Login</a></li>
					  <li><a [routerLink]="'/auth/register'">Register</a></li>
					  <li>
						<a [routerLink]="'/pages/onboard-screen'">Onboard Screen</a>
					  </li>
					  <li>
						<a [routerLink]="'/auth/forgot-password'">Forgot Password</a>
					  </li>
					  <li>
						<a
						  [routerLink]="
							'/freelancer/freelancer-settings/change-passwords'
						  "
						  >Change Password</a
						>
					  </li>
					</ul>
				  </li>
				  <li class="has-submenu">
					<a href="javascript:void(0);"
					  >Blog <i class="fas fa-chevron-down"></i
					></a>
					<ul class="submenu" id="blog">
					  <li><a [routerLink]="'/blog/list'">Blog List</a></li>
					  <li><a [routerLink]="'/blog/grid'">Blog Grid</a></li>
					  <li><a [routerLink]="'/blog/details'">Blog Details</a></li>
					</ul>
				  </li>
				<li>
					<a [routerLink]="'/admin/dashboard'" target="_blank">Admin</a>
				</li>
			</ul>
		</div>		 
		<ul class="nav header-navbar-rht">	
			<li><a [routerLink]="'/auth/login'" class="log-btn"> Sign in</a> <span class="space-login">/</span><a [routerLink]="'/auth/register'" class="log-btn"> Join us</a></li>
			<li><a [routerLink]="'/employer/post-project'" class="login-btn">Post a Project </a></li>
		</ul>
	</nav>
</header>
<!-- /Header -->