<!-- Footer -->
<footer class="footer footer-two" id="bottom-scroll">
  <div class="footer-top aos" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="footer-widget footer-menu">
            <p>
              Experience state-of-the-art marketplace platform with the
              recrutium. We combine the experience of our global community
              around the globe for a best marketplace theme.
            </p>
            <div
              class="banner-content aos aos-init aos-animate"
              data-aos="fade-up"
            >
              <form
                class="form"
                name="store"
                method="post"
                action="project.html"
              >
                <div class="form-inner">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Your Email address....."
                    />
                    <button class="btn btn-primary sub-btn" type="submit">
                      <i class="fas fa-long-arrow-alt-right long-arrow"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Useful Links</h2>
            <ul>
              <li><a [routerLink]="'/pages/about'">About Us</a></li>
              <li><a [routerLink]="'/pages/list'">Blog</a></li>
              <li><a [routerLink]="'/auth/login'">Login</a></li>
              <li><a [routerLink]="'/auth/register'">Register</a></li>
              <li>
                <a [routerLink]="'/auth/forgot-password'">Forgot Password</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Help & Support</h2>
            <ul>
              <li><a href="javascript:;">Browse Candidates</a></li>
              <li><a href="javascript:;">Employers Dashboard</a></li>
              <li><a href="javascript:;">Job Packages</a></li>
              <li><a href="javascript:;">Jobs Featured</a></li>
              <li><a href="javascript:;">Post A Job</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Other Links</h2>
            <ul>
              <li>
                <a [routerLink]="'/freelancer/dashboards'">Freelancers</a>
              </li>
              <li>
                <a [routerLink]="'/freelancer/portfolio'">Freelancer Details</a>
              </li>
              <li><a [routerLink]="'/freelancer/project'">Project</a></li>
              <li>
                <a [routerLink]="'/freelancer/project-details'"
                  >Project Details</a
                >
              </li>
              <li>
                <a [routerLink]="'/emloyer/post-project'">Post Project</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Follow us</h2>
            <ul>
              <li><a href="javascript;">Facebook </a></li>
              <li><a href="javascript;">Twitter</a></li>
              <li><a href="javascript;">Instagram</a></li>
              <li><a href="javascript;">Pinterest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">
                Copyright 2023 © recrutium. All right reserved. Powered by
                Dreamguys Technologies
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 right-text">
            <ul class="nav footer-bottom-nav">
              <li><a [routerLink]="'/chat'">Chat</a></li>
              <li><a [routerLink]="'/faq'">Faq</a></li>
              <li><a [routerLink]="'/review'">Reviews</a></li>
              <li><a [routerLink]="'/privacypolicy'">Privacy Policy</a></li>
              <li><a [routerLink]="'/termcondition'">Terms of use</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
