<!-- Header -->
<header class="header">
	<nav class="navbar navbar-expand-lg header-nav"
	[ngClass]="{
        'header-bg': header_bg === true
      }">
		<div class="navbar-header">
			<a id="mobile_btn" (click)="toggleSidebar()" href="javascript:void(0);">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>
			<a [routerLink]="'/home'" class="navbar-brand logo">
				<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
			</a>
		</div>
		<div class="main-menu-wrapper">
			<div class="menu-header">
				<a [routerLink]="'/home'" class="menu-logo">
					<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
				</a>
				<a id="menu_close" (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<ul class="main-nav" >
				<ng-container *ngFor="let mainMenus of navbar">
					<ng-container *ngIf="mainMenus.separateRoute === true">
					  <li [class.active]="base === mainMenus.base">
						<a [routerLink]="mainMenus.route">{{mainMenus.tittle}}</a>
					  </li>
					</ng-container>
					<ng-container *ngIf="mainMenus.separateRoute === false">
					  <li class="has-submenu" [class.active]="base === mainMenus.base">
						<a
						  href="javascript:void(0);"
						  (click)="mainMenus.showAsTab = !mainMenus.showAsTab"
						  >{{mainMenus.tittle}} <i class="fas fa-chevron-down"></i
						></a>
						<ul
						  class="submenu"
						  [ngClass]="{
							'show-sub-menu': mainMenus.showAsTab === true
						  }"
						>
						  <ng-container *ngFor="let menu of mainMenus.menu">
							<ng-container *ngIf="menu.hasSubRoute === false">
							  <li
								[class.active]="
								  base === menu.base && page === menu.page
								"
							  >
								<a [routerLink]="menu.route">{{menu.menuValue}}</a>
							  </li>
							</ng-container>
							<ng-container *ngIf="menu.hasSubRoute === true">
							  <li
								class="has-submenu"
								[class.active]="page === menu.page"
							  >
								<a
								  (click)="menu.showSubRoute = !menu.showSubRoute"
								  [routerLink]="menu.route"
								  >{{menu.menuValue}}</a
								>
								<ul
								  class="submenu"
								  [ngClass]="{
									'show-sub-menu': menu.showSubRoute === true
								  }"
								>
								  <ng-container *ngFor="let subMenu of menu.subMenus">
									<li
									  [class.active]="
										base === subMenu.base &&
										page === subMenu.page 
										
									  "
									>
									  <a [routerLink]="subMenu.route">{{subMenu.menuValue}}</a>
									</li>
								  </ng-container>
								</ul>
							  </li>
							</ng-container>
						  </ng-container>
						</ul>
					  </li>
					</ng-container>
				  </ng-container>
			</ul>
		</div>
		<ul class="nav header-navbar-rht">
			<li><a [routerLink]="'/auth/register'" class="reg-btn"><img src="assets/img/icon/reg-icon.svg" class="me-1" alt="icon"> Register</a></li>
			<li><a [routerLink]="'/auth/login'" class="log-btn"><img src="assets/img/icon/lock-icon.svg" class="me-1" alt="icon"> Login</a></li>
			<li><a [routerLink]="'/employer/post-project'" class="login-btn">Post a Project </a></li>
		</ul>
	</nav>
</header>
<!-- /Header -->