<div class="page-title">
    <h3>Manage Projects</h3>
</div>
<nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/freelancer/freelancer-projects/projects-proposals'">My Proposals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/freelancer/freelancer-projects/ongoing-projects'">Ongoing Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/freelancer/freelancer-projects/completed-projects'">Completed Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink] = "'/freelancer/freelancer-projects/cancelled-projects'">Cancelled Projects</a>
        </li>
    </ul>
</nav> 

<!-- project list -->
<div class="my-projects-list" *ngFor = "let complete of freecompleted">
    <div class="row">
        <div class="col-lg-12 flex-wrap">
            <div class="projects-cancelled-card flex-fill">
                <div class="card-body">
                    <div class="projects-details align-items-center">
                        <div class="project-info project">
                            <span>{{complete.company}}</span>
                            <h2>{{complete.content}}</h2>
                            <div class="proposal-client">
                                <h4 class="title-info">Client Price</h4>
                                <div class="d-flex">
                                    <h3 class="client-price me-2">${{complete.amount}}</h3>
                                    <p class="amnt-type">( {{complete.level}} )</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-hire-info project">
                            <div class="content-divider"></div>
                            <div class="proposer-info project">
                                <div class="proposer-img">
                                    <img [src]="complete.image" alt="" class="img-fluid">
                                </div>
                                <div class="proposer-detail">
                                    <h4>{{complete.name}}</h4>
                                    <ul class="proposal-details">
                                        <li> {{complete.date}}</li>
                                        <li><i class="fas fa-star text-primary"></i> {{complete.review}} Reviews</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-divider"></div>
                            <div class="projects-action text-center project">
                                <a href="javascript:void(0);" class="projects-btn">Remove Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /project list -->

<!-- pagination -->
<div class="row">
    <div class="col-md-12">
        <ul class="paginations freelancer">
            <li><a href="javascript:void(0);"> <i class="fas fa-angle-left"></i> Previous</a></li>
            <li><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);" class="active">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">4</a></li>
            <li><a href="javascript:void(0);">Next <i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>
<!-- /pagination -->