<div class="card ">
	<div class="card-body">
		<div class="table-responsive">
			<div class="table_header">
				<div class="dataTables_length">
					<label>
						Show
					</label>
					<select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
					class="form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<label >Entries</label>
				</div>
				<div class="dataTables_filter">
					<label>
						Search:
					</label>
					<input [(ngModel)]="searchDataValue"
						(ngModelChange)="searchData(searchDataValue)"
						class="form-control form-control-sm" />
				</div>
			</div>
			<div class="table-scroll">
				<table matSort (matSortChange)="sortData($event)"
					class="table table-center table-hover mb-0 datatable">
					<thead>
						<tr>
							<th>
								<div class="form-check custom-checkbox">
								  <input type="checkbox" class="form-check-input" id="select-all">
								  <label class="form-check-label" ></label>
								</div>
							</th>
							<th mat-sort-header="order">Order</th>
							<th mat-sort-header="name">User</th>	
							<th mat-sort-header="date">Details</th>	
							<th mat-sort-header="availability">Tnx By</th>	
							<th mat-sort-header="money">Amount</th>	
							<th mat-sort-header="status">Status</th>	
							<th></th>	
						</tr>
						<tr *ngIf="lstDeposit.length === 0">
							<td colspan="9">
							  <h5 style="text-align: center">No data found</h5>
							</td>
						  </tr>
					</thead>
                    <tbody>
                        <tr *ngFor = "let history of lstDeposit let i = index">
                            <td>
                                <div class="form-check custom-checkbox">
                                  <input type="checkbox" class="form-check-input" >
                                  <label class="form-check-label" ></label>
                                </div>
                            </td>
                            <td>{{history.order}}</td>
                            <td>
                                <div class="table-avatar user-profile">
                                    <a href="profile.html"><img class="avatar-img rounded-circle " [src]="history.image" alt="User Image"></a>
                                    <div>
                                        <h5><a [routerLink]="'/admin/profile'">{{history.name}}</a></h5>
                                        <p>{{history.mail}}</p>
                                    </div>	
                                </div>
                            </td>
                            <td>
                                <div class="table-avatar content-user">
                                    <div>
                                        <h5>Deposit Funds</h5>
                                        <p>{{history.date}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="content-user" *ngIf = "history.availability === 'PayPal'">
                                <p>{{history.availability}}</p>
                            </td>
                            <td class="content-user" *ngIf = "history.availability === 'Bank Transfer'">
                                <p>{{history.availability}}</p>
                            </td>
                            <td>
                                <div class="table-avatar content-user">
                                    <div>
                                        <h5 class="text-danger">{{history.money}}</h5>
                                        <p>	Balance : {{history.balance}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:" class="text-danger">Cancelled</a>
                            </td>
                            <td class="text-end three-dots">
                                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu user-menu-list">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#transaction-category"><img class="me-2 " src="assets/img/icon/icon-01.svg" alt=""> View Details</a>
                                    <a class="dropdown-item" [routerLink]="'/admin/user-profile'"><img class="me-2 " src="assets/img/icon/icon-05.svg" alt=""> User Profile</a>
                                    <a class="dropdown-item" href="javascript:"><img class="me-2 " src="assets/img/icon/icon-06.svg" alt=""> Approve</a>
                                    <a class="dropdown-item mb-0" href="javascript:"><img class="me-2 " src="assets/img/icon/icon-07.svg" alt=""> Reject </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</div>
			<div class="table_footer">
				<div class="col-sm-12 col-md-5">
					<div class="dataTables_info">
						Showing {{ serialNumberArray[0] }} to
						{{ serialNumberArray[serialNumberArray.length - 1] }} of
						{{ totalData }} entries
					</div>
				</div>
		
				<div class="col-sm-12 col-md-7">
					<div class="pagination_section">
						<ul class="pagination">
							<li class="page-item" [ngClass]="{
		disabled: currentPage === 1
		}">
								<a (click)="getMoreData('previous')" class="page-link"
									href="javascript:void(0);" tabindex="-1">Previous</a>
							</li>
		
							<ng-container *ngFor="let item of pageNumberArray; let i = index">
								<li class="page-item" [class.active]="item === currentPage" [ngClass]="
		  (pageNumberArray[currentPage - 2] > item &&
			item !== 1 &&
			pageNumberArray.length > 6) ||
		  (pageNumberArray[currentPage] < item &&
			item !== 1 &&
			pageNumberArray.length > 6 &&
			pageNumberArray.length !== item)
			? 'hide-page-no'
			: 'show-page-no'
		">
									<a (click)="moveToPage(item)" class="page-link"
										href="javascript:void(0);">
										{{ item }}
									</a>
								</li>
								<li class="page-item" *ngIf="
		  i === 0 && pageNumberArray.length > 6 && currentPage > 2
		" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
									<a class="page-link" href="javascript:void(0);"> ... </a>
								</li>
								<li *ngIf="
		  i === pageNumberArray.length - 2 &&
		  pageNumberArray.length > 6
		" [hidden]="
		  currentPage >=
			pageNumberArray[pageNumberArray.length - 2] ||
		  totalData < serialNumberArray[serialNumberArray.length - 1]
		" class="page-item" (click)="moveToPage(currentPage + 2)">
									<a class="page-link" href="javascript:void(0);"> ... </a>
								</li>
							</ng-container>
		
							<li class="page-item" [ngClass]="{
		disabled:
		  currentPage ===
			pageNumberArray[pageNumberArray.length - 1] ||
			lstDeposit.length === 0
		}">
								<a (click)="getMoreData('next')" class="page-link"
									href="javascript:void(0);">Next
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>