<!-- Footer -->
<footer class="footer footer-three">
  <!-- Footer Top Nav -->
  <div class="footer-top-blk">
    <div class="container">
      <div class="footer-social-group">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <ul class="nav footer-bottom-nav p-0 mb-0">
              <li><a [routerLink]="'/chat'">Chat</a></li>
              <li><a [routerLink]="'/faq'">Faq</a></li>
              <li><a [routerLink]="'/review'">Reviews</a></li>
              <li><a [routerLink]="'/privacypolicy'">Privacy Policy</a></li>
              <li><a [routerLink]="'/termcondition'">Terms of use</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="social-icon d-flex">
              <span>Follow us on : </span>
              <ul>
                <li>
                  <a href="#" class="icon" target="_blank"
                    ><i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="icon" target="_blank"
                    ><i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="icon" target="_blank"
                    ><i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top Nav -->
  <div class="footer-top aos" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Useful Links</h2>
            <ul>
              <li><a [routerLink]="'/pages/about'">About Us</a></li>
              <li><a [routerLink]="'/pages/list'">Blog</a></li>
              <li><a [routerLink]="'/auth/login'">Login</a></li>
              <li><a [routerLink]="'/auth/register'">Register</a></li>
              <li>
                <a [routerLink]="'/auth/forgot-password'">Forgot Password</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Help & Support</h2>
            <ul>
              <li><a href="javascript:;">Browse Candidates</a></li>
              <li><a href="javascript:;">Employers Dashboard</a></li>
              <li><a href="javascript:;">Job Packages</a></li>
              <li><a href="javascript:;">Jobs Featured</a></li>
              <li><a href="javascript:;">Post A Job</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Other Links</h2>
            <ul>
              <li>
                <a [routerLink]="'/freelancer/dashboards'">Freelancers</a>
              </li>
              <li>
                <a [routerLink]="'/freelancer/portfolio'">Freelancer Details</a>
              </li>
              <li><a [routerLink]="'/freelancer/project'">Project</a></li>
              <li>
                <a [routerLink]="'/freelancer/project-details'"
                  >Project Details</a
                >
              </li>
              <li>
                <a [routerLink]="'/emloyer/post-project'">Post Project</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Featured Catgeories</h2>
            <ul>
              <li><a href="project.html">Illustration</a></li>
              <li><a href="project.html">Link Building</a></li>
              <li><a href="project.html">Python Dev</a></li>
              <li><a href="project.html">Angular Dev</a></li>
              <li><a href="project.html">Node JS</a></li>
              <li><a href="project.html">Android</a></li>
              <li><a href="project.html">Logo Design</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Subscribe</h2>
            <div
              class="banner-content aos aos-init aos-animate"
              data-aos="fade-up"
            >
              <form
                class="form"
                name="store"
                method="post"
                action="project.html"
              >
                <div class="form-inner">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Your Email address....."
                    />
                    <button class="btn btn-primary sub-btn" type="submit">
                      send
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="applicate-mobile-blk">
              <h6>Mobile Application</h6>
              <p>
                We help our customers harness the power of AI to make smarter
                decisions
              </p>
            </div>
            <div class="row g-2">
              <div class="col-lg-4">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="assets/img/app-store.svg"
                    alt="app-store"
                /></a>
              </div>
              <div class="col-lg-4">
                <a href="#"
                  ><img
                    class="img-fluid"
                    src="assets/img/google-play.svg"
                    alt="google-play"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="copyright-text text-center">
              <p class="mb-0">
                Copyright 2023 © recrutium. All right reserved. Powered by
                Dreamguys Technologies
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
