<div class="card">
    <div class="payment-list wallet card-body">
        <h3>Verification Details</h3>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first_name">Your Name</label>
                        <input class="form-control" id="first_name" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name">Contact Number</label>
                        <input class="form-control" id="last_name" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="card_number">CNIC / Passport / NIN / SSN</label>
                        <input class="form-control" id="card_number" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Upload Document</label>
                        <div class="uplod">
                            <label class="file-upload image-upbtn mb-0">
                                Select Document <input type="file">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">Address</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                        <p class="mt-2">Your account information should match with the document that you are providing.</p>
                    </div>
                </div>
                <div class="col-md-12 text-end">
                    <a href="javascript:void(0);" class="btn btn-primary click-btn">Submit verification</a>
                </div>
            </div>
        </form>
    </div>			
</div>