<nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
            <a class="nav-link " [routerLink] = "'/employer/milestones/overviews'">Overview & Discussions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/employer/milestones/milestone'">Milestones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink] = "'/employer/milestones/tasks'">Tasks</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink] = "'/employer/milestones/files'">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " [routerLink] = "'/employer/milestones/payments'">Payments</a>
        </li>
    </ul>
</nav>

<!-- project list -->
<div class="my-projects-view">
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col">
                                <h5 class="card-title">Tasks</h5>
                            </div>
                            <div class="col-auto">
                                <a data-bs-toggle="modal" href="#file" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> Add tasks</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table_header">
                            <div class="row">
                              <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length">
                                  <label>
                                    Show
                                    <select
                                      [(ngModel)]="pageSize"
                                      (ngModelChange)="PageSize()"
                                      class="form-control form-control-sm"
                                    >
                                      <option value="10">10</option>
                                      <option value="25">25</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                    </select>
                                    Entries
                                  </label>
                                </div>
                              </div>
                            </div>
                         </div>
                        <div class="table-responsive table-box">
                            <table  matSort
                            (matSortChange)="sortData($event)"
                             class="table table-center table-hover datatable">
                                <thead class="thead-pink">
                                    <tr>
                                        <th mat-sort-header="name">Task Name</th>
                                        <th mat-sort-header="milestone">Milestone</th>
                                        <th mat-sort-header="date">Due Date</th>
                                        <th mat-sort-header=" para">Description</th>
                                        <th mat-sort-header="availability">Status</th>
                                        <th mat-sort-header="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let task of lstExam; let i = index">
                                        <td>{{task.name}}</td>
                                        <td>{{task.milestone}}</td>
                                        <td> {{task.date}}	 </td>
                                        <td><p class="mb-0">{{task.para}}</p>
                                            <a href="javascript:void(0);" class="read-text">Readmore</a>
                                        </td>
                                        <td *ngIf = "task.availability === 'Completed'">
                                            <span class="text-success">{{task.availability}}</span>
                                        </td> 
                                        <td *ngIf = "task.availability === 'To do'">
                                            <span class="text-danger">{{task.availability}}</span>
                                        </td>
                                        <td>
                                            <div class="action">
                                                <a data-bs-toggle="modal" href="#edit-file"  class="file-circle me-2"><i class="fas fa-pen"></i></a>
                                                <a href="javascript:void(0);" class="file-circle"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </div>								
</div>
<!-- The Modal -->
<div class="modal fade" id="file">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
                <span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times-circle orange-text"></i></a></span>
            </div>
            <div class="modal-body">		
                <form>
                    <div class="modal-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Add Task</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Milestone</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control select form-select">
                                    <option>To do </option>
                                    <option>Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-end">
                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /The Modal -->

<!-- The Modal -->
<div class="modal fade" id="edit-file">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
                <span class="modal-close"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times-circle orange-text"></i></a></span>
            </div>
            <div class="modal-body">		
                <form>
                    <div class="modal-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Add Task</label>
                                    <input type="text" class="form-control" value="Research">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Milestone</label>
                                    <input type="text" class="form-control"  value="Research">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <input type="text" class="form-control"  value="20th October 2021">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control select form-select">
                                    <option>To do </option>
                                    <option selected>Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-end">
                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /The Modal -->