
<div class="settings-widget" >
    <div class="settings-header d-sm-flex flex-row flex-wrap text-center text-sm-start align-items-center">
        <a href="user-account-details.html"><img alt="profile image" src="assets/img/img-04.jpg" class="avatar-lg rounded-circle"></a>
        <div class="ms-sm-3 ms-md-0 ms-lg-3 mt-2 mt-sm-0 mt-md-2 mt-lg-0">
            <p class="mb-2">Welcome,</p>
            <a href="user-account-details.html"><h3 class="mb-0">John Danie S.</h3></a>
            <p class="mb-0">@johndaniee</p>
        </div>
    </div>
    <div class="settings-menu">
        <ul>
            <ng-container *ngFor="let mainMenus of sidemenu">
                <li class="nav-item">
                    <a [routerLink]="mainMenus.route " class="nav-link" [ngClass]="{active:mainMenus.page === page}">
                        <i class="material-icons">{{mainMenus.icon}}</i> {{mainMenus.title}}
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>