<!-- Breadcrumb -->
<div class="bread-crumb-bar">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/home'"
                  ><img src="assets/img/home-icon.svg" alt="Post Author" />
                  Home</a
                >
              </li>
              <li class="breadcrumb-item" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- About -->
<section class="section about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="about-content">
          <h2>About <span class="orange-text">recrutium</span></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est modi,
            saepe hic esse maxime quasi, sapiente ex debitis quis dolorum unde,
            neque quibusdam eveniet nobis enim porro repudiandae nesciunt
            quidem.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
            delectus soluta adipisci beatae ullam quisquam, quia recusandae rem
            assumenda, praesentium porro sequi eaque doloremque tenetur incidunt
            officiis explicabo optio perferendis.
          </p>
          <a [routerLink]="'/freelancer/project'" class="btn learn-btn"
            >LEARN MORE</a
          >
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5">
        <div class="about-img">
          <img class="img-fluid" src="assets/img/about.png" alt="Post Image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->

<!-- Counter -->
<section class="section job-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="counter">
          <h2>800+</h2>
          <h4>Jobs Posted</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <h2>80+</h2>
          <h4>Companies</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <h2>900+</h2>
          <h4>Developers</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter">
          <h2>90+</h2>
          <h4>Development Services</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Review -->
<section class="section testimonial-section review">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header text-center">
          <div class="section-line"></div>
          <h2 class="header-title">Top Reviews</h2>
          <p>High Performing Developers To Your</p>
        </div>
      </div>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of aboutusslides">
        <ng-template carouselSlide>
          <div class="review-blog">
            <div class="review-top d-flex align-items-center">
              <div class="review-img">
                <a [routerLink]="'/freelancer/review'"
                  ><img
                    class="img-fluid"
                    src="{{ slide.img }}"
                    alt="Post Image"
                /></a>
              </div>
              <div class="review-info">
                <h3>{{ slide.name }}</h3>
                <h5>{{ slide.officer }}</h5>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="average-rating">{{ slide.rating }}</span>
                </div>
              </div>
            </div>
            <div class="review-content">
              <p>{{ slide.para }}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
<!-- / Review -->

<!-- Agency -->
<section class="section agency">
  <div class="container-fluid">
    <div class="row align-items-center black-bg">
      <div class="col-md-6 agency-box">
        <img src="assets/img/about-01.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6 agency-box black-bg">
        <div class="agency-content">
          <h2>
            Used by over <span class="orange-text">1500</span> of World Leading
            Agencies work
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
            orci enim, mattis nibh aliquam dui, nibh faucibus aenean.
          </p>
          <a [routerLink]="'/freelancer/project'" class="btn learn-btn"
            >LEARN MORE</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Agency -->

<!-- Experts -->
<section class="section expert">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h5>SINCE THE START</h5>
        <h2>What are the benefits of applying job Online?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci
          enim, mattis nibh aliquam dui, nibh faucibus aenean.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Volutpat, mattis nibh aliquam
          dui, nibh faucibus aenean.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci
          enim, mattis nibh aliquam dui, nibh faucibus aenean.
        </p>
        <div class="btn-item">
          <a class="btn get-btn" [routerLink]="'/auth/login'">Get Started</a>
          <a class="btn courses-btn" [routerLink]="'/freelancer/project'"
            >ViEW SERVICES</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Experts -->
