<!-- Page Content -->
<div class="content content-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- Forgot Password Content -->
        <div class="account-content">
          <div class="align-items-center justify-content-center">
            <div class="login-right">
              <div class="login-header text-center">
                <a [routerLink]="'/home'"
                  ><img
                    src="assets/img/logo-01.png"
                    alt="logo"
                    class="img-fluid"
                /></a>
                <h3>First, let's find your account</h3>
                <p>Please enter your email or phone Number</p>
              </div>
              <form>
                <div class="form-group form-focus focused">
                  <input type="email" class="form-control floating" />
                  <label class="focus-label">Email</label>
                </div>
                <button
                  class="btn btn-primary btn-block btn-lg login-btn"
                  [routerLink]="'/auth/login'"
                  type="submit"
                >
                  FIND OUT PASSWORD
                </button>
                <div class="row form-row">
                  <div class="col-6 text-start">
                    <a class="forgot-link" [routerLink]="'/auth/login'"
                      >Remember your password?</a
                    >
                  </div>
                  <div class="col-6 text-end dont-have">
                    New to recrutium?
                    <a [routerLink]="'/auth/register'">Click here</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Forgot Password Content -->
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
