<nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
            <a class="nav-link " [routerLink] = "'/freelancer/freelancer-payments/withdraw-money'">Withdraw Funds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink] = "'/freelancer/freelancer-payments/invoices'"> Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " [routerLink] = "'/freelancer/freelancer-payments/history'"> Transaction History</a>
        </li>
    </ul>
</nav>	
<div class="transaction-table card">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <h5 class="card-title">All Invoices</h5>
            </div>
            <div class="col-auto d-flex align-items-center flex-wrap transaction-shortby">
                    <div class="export-item sort-show sort-by"><i class="fas fa-download"></i> Export</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive table-box">
            <table class="table" >
                <thead>
                    <tr class="thead-pink">
                        <th>Invoice Number</th>
                        <th>Client Name</th>
                        <th>Created Date</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Paid On</th>
                    </tr>
                </thead>
                <tbody class="table table-hover table-center">

                    <tr *ngFor="let invoice of lstInvoice;let i = index">
                        <td><a [routerLink] = "'/view-invoice'" class="invoice-id">{{invoice.invoices}}</a></td>
                        <td>{{invoice.client}}</td>
                        <td>{{invoice.lastvisit}}</td>
                        <td>${{invoice.amount}}</td>
                        <td>{{invoice.duedate}}</td>
                        <td *ngIf = "invoice.availability === 'Paid'">
                            <span class="badge bg-success-light">{{invoice.availability}}</span>
                        </td>
                        <td  *ngIf = "invoice.availability === 'Partially Paid'">
                            <span class="badge bg-warning-light">{{invoice.availability}}</span>
                        </td>
                        <td *ngIf = "invoice.availability === 'Overdue'">
                            <span class="badge bg-danger-light">{{invoice.availability}}</span>
                        </td>
                        <td>{{invoice?.paidon | date : 'dd MMM yyyy, h.mm a'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>