<nav class="user-tabs mb-4">
	<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
		<li class="nav-item">
			<a class="nav-link " [routerLink]="'/employer/favourites/markedfavourites'">Bookmarked Freelancers</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active " [routerLink]="'/employer/favourites/invitedfavourites'">Invited Freelancers</a>
		</li>
	</ul>
</nav>
<!-- project list -->
<div class="my-projects-view favourite-group">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header d-flex">
					<h5 class="card-title">Invited Freelancers</h5>
					<ul class="list-grid d-flex align-items-center">
						<li><a [routerLink]="'/employer/favourites/favourites-list'"><i class="fas fa-list"></i></a></li>
						<li><a [routerLink]="'/employer/favourites/markedfavourites'" class="favour-active"><i class="fas fa-th-large"></i></a></li>
					</ul>
				</div>
				<div class="freelance-box book-mark favour-book">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<div class="relavance-result d-flex align-items-center">
								<h4>Found 455 Results</h4>
								<div class="relavance-rate d-flex justify-content-sm-end">
								   <div class="sort-by">
									  <label>Sort By: </label>
									  <select class="custom-select form-select">
										 <option>Relevance</option>
										 <option>Rating</option>
										 <option>Popular</option>
										 <option>Latest</option>
										 <option>Free</option>
									  </select>
								   </div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-3" *ngFor = "let lancer of freelancer" [hidden] = "freelancer.length === 0">
							<div class="freelance-widget">
								<div class="freelance-content">
									<a data-bs-toggle="modal" href="#rating" class="favourite favourited"><i class="fas fa-star"></i></a>
									<div class="freelance-img">
										<a [routerLink]="'/freelancer/developers-details'">
											<img [src]="lancer.image" alt="User Image">
											<span class="verified"><i class="fas fa-check-circle"></i></span>
										</a>
									</div>
									<div class="freelance-info">
										<h3><a [routerLink]="'/freelancer/developers-details'">{{lancer.name}}</a></h3>
										<div class="freelance-specific">{{lancer.role}}</div>
										<div class="freelance-location"><i class="fas fa-map-marker-alt me-1"></i>{{lancer.city}}</div>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star "></i>
											<i class="fas fa-star"></i>
											<span class="average-rating"> {{(lancer.rating)}}</span>
										</div>
										<div class="freelance-tags">
											<a href="javascript:void(0);"><span class="badge badge-pill badge-design">{{lancer.role2}}</span></a>
											<a href="javascript:void(0);"><span class="badge badge-pill badge-design">{{lancer.role3}}</span></a>
											<a href="javascript:void(0);"><span class="badge badge-pill badge-design">{{lancer.role4}}</span></a>
										</div>
										<div *ngIf = "lancer.viewlancer === true">
											<div class="freelancers-price" >$ {{lancer.price}}</div>	
										</div>
										
										<div class="freelancers-price" *ngIf = "lancer.viewfree === true">Free</div>
									</div>
								</div>
								<div class="cart-hover">
									<a [routerLink]="'/freelancer/developers-details'" class="btn-cart" tabindex="-1">View Profile</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>	
		</div>
	</div>								
</div>
<!-- project list -->