<nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
            <a class="nav-link active" [routerLink] = "'/employer/milestones/overviews'">Overview & Discussions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/employer/milestones/milestone'">Milestones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/employer/milestones/tasks'">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/employer/milestones/files'">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/employer/milestones/payments'">Payments</a>
        </li>
    </ul>
</nav>

<!-- project list -->
<div class="my-projects">


<!-- project list -->
<div class="my-projects-list pro-list-view">
    <div class="row">
        <div class="col-lg-10 flex-wrap">
            <div class="projects-card flex-fill">
                <div class="card-body">
                    <div class="projects-details align-items-center">
                        <div class="project-info">
                            <h2>Website Designer Required For Directory Theme</h2>
                            <div class="customer-info">
                                <ul class="list-details">
                                    <li>
                                        <div class="slot">
                                            <p>Price type</p>
                                            <h5>Fixed</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slot">
                                            <p>Location</p>
                                            <h5><img src="assets/img/en.png" height="13" alt="Lang"> UK</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slot">
                                            <p>Expiry</p>
                                            <h5>4 Days Left</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-hire-info">
                            <div class="content-divider"></div>
                            <div class="projects-amount">
                                <h3>$500.00</h3>
                                <h5>in 12 Days</h5>
                            </div>
                            <div class="content-divider"></div>
                            <div class="projects-action text-center">
                                <a href="javascript:void(0);" class="hired-detail">Hired on 19 JUN 2021</a>
                    <div class="pro-status">
                        <div class="hire-select">
                            
                            <mat-select  [(value)]="selected">
                                <mat-option value="Is job completed?">Is job completed?</mat-option>
                                <mat-option value="Ongoing">Ongoing</mat-option>
                                <mat-option value="Completed">Completed</mat-option>
                                <mat-option value="Completed">Is job completed?</mat-option>
                            </mat-select>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-wrap">
            <div class="projects-card flex-fill">
                <div class="card-body">
                    <div class="prj-proposal-count text-center hired">
                        <img src="assets/img/developer/developer-01.jpg" alt="" class="img-fluid"> 
                        <p class="mb-2">Hannah Finn</p>
                        <a [routerLink] = "'/employer/chats'" class="btn btn-chat">Chat Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /project list -->

</div>

<div class="pro-post widget-box">								
    <h3 class="pro-title">Overview</h3>
    <div class="pro-overview">
        <h4>Senior Animator</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. </p>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus.</p>
    </div>	
</div>

<div class="pro-post widget-box">
    <h3 class="pro-title">Skills Required</h3>
    <div class="pro-content">
        <div class="tags">
            <span class="badge badge-pill badge-design">After Effects</span>
            <span class="badge badge-pill badge-design">Illustrator</span>
            <span class="badge badge-pill badge-design">HTML</span>
            <span class="badge badge-pill badge-design">Whiteboard</span>
            <span class="badge badge-pill badge-design">HTML</span>
            <span class="badge badge-pill badge-design">Whiteboard</span>
        </div>
    </div>
</div>