<div class="pro-pos">
    <nav class="user-tabs mb-4">
        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
                <a class="nav-link active" [routerLink] = "'/freelancer/freelancer-settings/profiles-settings'">Profile Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] = "'/freelancer/freelancer-settings/change-passwords'">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink] = "'/freelancer/freelancer-settings/delete-account'">Delete Account</a>
            </li>
        </ul>
    </nav>
    <div class="setting-content">																		
        <form>
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Profile Basics </h3>
                </div>	
                <div class="pro-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Username</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email Address</label>
                            <input type="email" class="form-control">

                        </div>
                        <div class="form-group col-md-6">
                            <label>Dispaly Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input type="email" class="form-control">

                        </div>
                        <div class="form-group col-md-6">
                            <label>Hourly Rate</label>
                            <input type="text" class="form-control">
                            <p class="light-pink-text mb-0">Provide your hourly rate without currency symbol</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact Number</label>
                            <input type="email" class="form-control">

                        </div>
                        <div class="form-group col-md-6">
                            <label>Gender</label>
                            <mat-select class="form-control"  [(value)]="gender">
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                              </mat-select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Type</label>
                            <mat-select class="form-control"  [(value)]="type">
                                <mat-option value="select">Select Freelancer Type</mat-option>
                                <mat-option value="freelancer">Freelancer</mat-option>
                              </mat-select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Language </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>												
                    <div class="form-row pro-pad pt-0">
                        <div class="form-group col-md-6 pro-pic">
                            <label>Profile Picture</label>
                            <div class="d-flex align-items-center">														
                                <div class="upload-images">
                                    <img src="assets/img/img-02.jpg" alt="Image">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                </div>
                                <label class="file-upload image-upbtn ms-3">
                                    Change Image <input type="file">
                                </label>
                            </div>
                            <p>Image size 300*300</p>
                        </div>
                        <div class="form-group col-md-6 pro-pic">
                            <label>Banner Image</label>
                            <div class="d-flex align-items-center">														
                                <div class="upload-images">
                                    <img src="assets/img/img-02.jpg" alt="Image">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                </div>
                                <label class="file-upload image-upbtn ms-3">
                                    Change Image <input type="file">
                                </label>
                            </div>
                            <p>Image size 1024*100</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Location</h3>
                </div>
                <div class="pro-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Address</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>State</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Zipcode</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Country</label>
                            <mat-select class="form-control"  [(value)]="country">
                                <mat-option value="india">India</mat-option>
                                <mat-option value="china">China</mat-option>
                                <mat-option value="japan">Japan</mat-option>
                              </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Overview</h3>
                </div>
                <div class="pro-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-row" >
                <div class="col-md-12 col-xl-4 d-flex">
                    <div class="pro-card flex-fill mb-3" >
                        <div class="pro-head">
                            <h3 class="pro-title without-border mb-0">Skills</h3>
                            <a href="javascript:void(0);" class="btn fund-btn skill-add" (click)="addSkills()">Add More</a>
                        </div>
                        <div class="pro-body skill-info" >
                            <div class="form-row align-items-center skill-cont" *ngFor="let skills of skillsArray; let i = index">
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" placeholder="Front End Developer">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i !== 10">
                                    <a href="javascript:void(0);" class="btn trash-icon" (click)="deleteSkills(i)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 col-xl-8">
                    <div class="card">
                        <div class="pro-head">
                            <h3 class="pro-title without-border mb-0">Awards / Certificates</h3>
                            <a href="javascript:void(0);" class="btn fund-btn add-award" (click)="addAward()">Add More</a>
                        </div>
                        <div class="pro-body  award-info">
                            <div class="form-row align-items-center award-cont" *ngFor="let awards of awardsArray; let i = index">
                                <div class="form-group col-md-2">
                                    <img alt="profile image" src="assets/img/img.jpg" class="avatar-medium">
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" value="Best Game Designer">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control " value="05/10/2020">
                                </div>
                                <div class="form-group col-md-2" *ngIf="i !== 10">
                                    <a href="javascript:void(0);" class="btn trash-icon" (click)="deleteAward(i)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="pro-head">
                            <h3 class="pro-title without-border mb-0">Languages</h3>
                            <a href="javascript:void(0);" class="btn fund-btn add-lang" (click)="addLang()">Add More</a>
                        </div>
                        <div class="pro-body  lang-info">
                            <div class="form-row align-items-center lang-cont" *ngFor="let lang of langArray; let i = index">
                                <div class="form-group col-md-7">
                                    <input type="text" class="form-control" value="English">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" value="100">
                                </div>
                                <div class="form-group col-md-2">
                                    <a href="javascript:void(0);" class="btn trash-icon" (click)="deleteLang(i)"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>											
                </div>										
            </div>
            
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Experience</h3>
                    <a href="javascript:void(0);" class="btn fund-btn add-exp" (click)="addExp()">Add More</a>
                </div>
                <div class="pro-body">
                    <div class="exp-info"  *ngFor="let Exp of expArray; let i = index">
                        <div class="row exp-cont">
                            <div class="form-group col-md-6">
                                <label>Title</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Company name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group position-relative col-md-6">
                                <label>Start date</label>
                                <input class="form-control" matInput [matDatepicker]="picker" placeholder="Select Date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                            <div class="form-group position-relative col-md-6">
                                <label>End Date</label>
                                <input class="form-control" matInput [matDatepicker]="picker2" placeholder="Select Date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="custom_check">
                                    <input type="checkbox" name="rem_password">
                                    <span class="checkmark"></span> I'm currently working here
                                </label>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Summary</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <a href="javascript:void(0);" class="btn trash-icon" (click)="deleteExp(i)"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Educational Details</h3>
                    <a href="javascript:void(0);" class="btn fund-btn" (click)="addEdu()">Add More Skills</a>
                </div>
                <div class="pro-body" *ngFor="let edu of eduArray; let i = index">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Degree Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>University/College</label>
                            <mat-select class="form-control"  [(value)]="degree">
                                <mat-option value="select">Select University/College</mat-option>
                                <mat-option value="university">University</mat-option>
                                <mat-option value="college">College</mat-option>
                              </mat-select>
                        </div>
                        <div class="form-group position-relative col-md-6">
                            <label>Start year</label>
                            <input class="form-control" matInput [matDatepicker]="picker3" placeholder="Select Date">
                            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </div>
                        <div class="form-group position-relative col-md-6">
                            <label>End year</label>
                            <input class="form-control" matInput [matDatepicker]="picker4" placeholder="Select Date">
                            <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Summary</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <a href="javascript:void(0);" class="btn trash-icon" (click)="deleteEdu(i)"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="pro-head">
                    <h3 class="pro-title without-border mb-0">Social Links</h3>
                </div>
                <div class="pro-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Facebook</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Dribble</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Twitter</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>LinkedIn</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Behance</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Behance</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card text-end">
                <div class="pro-body">
                    <button class="btn btn-secondary click-btn btn-plan">Cancel</button>
                    <button class="btn btn-primary click-btn btn-plan ms-1" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>