<div class="card">
    <div class="card-header">
        <h3 class="pro-title without-border">Reviews</h3>
    </div>
    <div class="card-body">
        <div class="reviews">
            <div class="review-content no-padding">		
                <h4>Fix Python Selenium Code</h4>
                <div class="rating">							
                    <span class="average-rating">4.6</span>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="mb-0">Great clarity in specification and communication. I got payment really fast. Really recommend this employer for his professionalism. I will work for him again with pleasure.</p>
            </div>	
            <div class="review-content no-padding">		
                <h4>Adsense Expert</h4>
                <div class="rating">							
                    <span class="average-rating">3.4</span>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="mb-0">Great clarity in specification and communication. I got payment really fast. Really recommend this employer for his professionalism. I will work for him again with pleasure.</p>
            </div>	
            <div class="review-content no-padding">		
                <h4>Create website wordpress for a Brand</h4>
                <div class="rating">							
                    <span class="average-rating">4.2</span>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>	
            <div class="review-content no-padding">		
                <h4>Email automation set up and segmentation</h4>
                <div class="rating">							
                    <span class="average-rating">3.6</span>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
            </div>										
        </div>
    </div>
</div>