			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Skills</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
									<li class="breadcrumb-item active">Skills</li>
								</ul>
							</div>
							<div class="col-auto">
								<a href="#" class="btn add-button me-2" data-bs-toggle="modal" data-bs-target="#add-category">
									<i class="fas fa-plus"></i>
								</a>
								<a class="btn filter-btn" href="javascript:void(0);" id="filter_search" (click)="openFilter()">
									<i class="fas fa-filter"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<!-- Search Filter -->
					<div class="card filter-card" id="filter_inputs" [ngClass]="filter === true? 'filter-show' : ''">
						<div class="card-body pb-0">
							<form action="#" method="post">
								<div class="row filter-row">
									<div class="col-sm-6 col-md-3">
										<div class="form-group">
											<label>Skill</label>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="form-group">
											<div class="cal-icon">
												<label>From Date</label>
												<input class="form-control datetimepicker" type="text">
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="form-group">
											<div class="cal-icon">
												<label>To Date</label>
												<input class="form-control datetimepicker" type="text">
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="form-group">
											<button class="btn btn-primary btn-block" type="submit">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /Search Filter -->

					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<div class="table_header">
											<div class="dataTables_length">
												<label>
													Show
												</label>
												<select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
												class="form-control form-control-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>
											<label >Entries</label>
											</div>
											<div class="dataTables_filter">
												<label>
													Search:
												</label>
												<input [(ngModel)]="searchDataValue"
													(ngModelChange)="searchData(searchDataValue)"
													class="form-control form-control-sm" />
											</div>
										</div>
										<div class="table-scroll">
											<table matSort (matSortChange)="sortData($event)"
												class="table table-center table-hover mb-0 datatable">
												<thead>
													<tr>
														<th mat-sort-header="skills">Skill</th>
														<th mat-sort-header="slug">Slug</th>	
														<th class="text-end">Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor = "let skill of lstSkill; let i = index">
														<td>
															{{skill.skills}}
														</td>
														<td>{{skill.slug}}</td>
														<td class="text-end">
															<a href="javascript:void(0);" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#edit-category"><i class="far fa-edit"></i></a> 
															<a href="javascript:void(0);" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_category"><i class="far fa-trash-alt"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="table_footer">
											<div class="col-sm-12 col-md-5">
												<div class="dataTables_info">
													Showing {{ serialNumberArray[0] }} to
													{{ serialNumberArray[serialNumberArray.length - 1] }} of
													{{ totalData }} entries
												</div>
											</div>
									
											<div class="col-sm-12 col-md-7">
												<div class="pagination_section">
													<ul class="pagination">
														<li class="page-item" [ngClass]="{
									disabled: currentPage === 1
									}">
															<a (click)="getMoreData('previous')" class="page-link"
																href="javascript:void(0);" tabindex="-1">Previous</a>
														</li>
									
														<ng-container *ngFor="let item of pageNumberArray; let i = index">
															<li class="page-item" [class.active]="item === currentPage" [ngClass]="
										(pageNumberArray[currentPage - 2] > item &&
										item !== 1 &&
										pageNumberArray.length > 6) ||
										(pageNumberArray[currentPage] < item &&
										item !== 1 &&
										pageNumberArray.length > 6 &&
										pageNumberArray.length !== item)
										? 'hide-page-no'
										: 'show-page-no'
									">
																<a (click)="moveToPage(item)" class="page-link"
																	href="javascript:void(0);">
																	{{ item }}
																</a>
															</li>
															<li class="page-item" *ngIf="
										i === 0 && pageNumberArray.length > 6 && currentPage > 2
									" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
																<a class="page-link" href="javascript:void(0);"> ... </a>
															</li>
															<li *ngIf="
										i === pageNumberArray.length - 2 &&
										pageNumberArray.length > 6
									" [hidden]="
										currentPage >=
										pageNumberArray[pageNumberArray.length - 2] ||
										totalData < serialNumberArray[serialNumberArray.length - 1]
									" class="page-item" (click)="moveToPage(currentPage + 2)">
																<a class="page-link" href="javascript:void(0);"> ... </a>
															</li>
														</ng-container>
									
														<li class="page-item" [ngClass]="{
									disabled:
										currentPage ===
										pageNumberArray[pageNumberArray.length - 1] ||
										lstSkill.length === 0
									}">
															<a (click)="getMoreData('next')" class="page-link"
																href="javascript:void(0);">Next
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>			
						</div>
						
					</div>			
				</div>
				<!-- /Page Wrapper -->
			</div>
            		<!-- The Modal -->
		<div class="modal fade custom-modal" id="add-category">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Add New Skill</h4>
						<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>Skill Name</label>
								<input type="text" class="form-control" placeholder="2D Design">
							</div>
							<div class="form-group">
								<label>Slug</label>
								<input type="text" class="form-control" placeholder="2d-design">
							</div>
							<div class="mt-4">
								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<!-- /The Modal -->
		
		<!-- The Modal -->
		<div class="modal fade custom-modal" id="edit-category">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header flex-wrap">
						<h4 class="modal-title">Edit Skills</h4>
						<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label>Skill Name</label>
								<input type="text" class="form-control" value="Graphics & Design">
							</div>
							<div class="form-group">
								<label>Slug</label>
								<input type="text" class="form-control" value="Design a Website Mockup">
							</div>
							<div class="mt-4">
								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<!-- /The Modal -->


		<!-- Delete Modal -->
		<div class="modal custom-modal fade" id="delete_category" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->