<div class="col-xl-9 col-md-8">
    <div class="card ">
        <div class="card-header review-heading">
            <h3 class="pro-title without-border">Reviews</h3>
        </div>
        <div class="card-body">
            <div class="reviews company-review">
                <div class="review-content no-padding">		
                    <h4>Fast and clear. </h4>
                    <p class="mb-0">Fast and clear. European visual concepts. Easy to communicate TOP</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-01.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">javiervalino</a></h3>
                            <h5>Today • 09:35 PM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>	
                <div class="review-content no-padding">		
                    <h4>This seller was great overall. </h4>
                    <p class="mb-0">This seller was great overall. One thing I noticed was that there was one logo out of the 4 I got that stood out amongst the others. Now I loved that one logo but the other ones did not look like much thought were put into them and they were a little disappointing. It is understandable for the price for them to only put effort into one logo, which like I said I loved. I think it would be better to tell this seller to make one good logo and to provide 3 other logos that work off the one good logo. Maybe make that one good logo and then change colors and fonts for the other 3. But overall this seller was great!</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-02.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">trentburns</a></h3>
                            <h5>Yesterday • 09:35 PM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>		
                <div class="review-content no-padding">		
                    <h4>Great help given and work</h4>
                    <p class="mb-0">Great help given and work was done as asked on time! :)</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-03.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">mabdz</a></h3>
                            <h5>Sep 3 • 6:57 AM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>	
                <div class="review-content no-padding">		
                    <h4>very quick &amp; smart.</h4>
                    <p class="mb-0">very quick &amp; smart. Recommend him for any web related work</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-02.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">creativerr</a></h3>
                            <h5>Aug 12 • 9:37 AM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>	
                <div class="review-content no-padding">		
                    <h4>always amaze me with his skills</h4>
                    <p class="mb-0">always amaze me with his skills. Recommend this top rated seller for anyone. Absolute best of best</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-1.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">adirajulk</a></h3>
                            <h5>Aug 3 • 6:57 AM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>	
                <div class="review-content no-padding">		
                    <h4>They delivered great work! The delivery was prompt and the communication was excellent. </h4>
                    <p class="mb-0">They delivered great work! The delivery was prompt and the communication was excellent. I will be using them in the future and recommend them to anyone who needs their services!</p>
                    <div class="review-top tab-reviews d-flex align-items-center">
                        <div class="review-img">
                            <a [routerLink]="'/freelancer/developers-details'"><img class="img-fluid" src="assets/img/review/review-03.jpg" alt="Post Image"></a>
                        </div>
                        <div class="review-info">
                            <h3><a [routerLink]="'/freelancer/developers-details'">james</a></h3>
                            <h5>Aug 2 • 7:57 AM</h5>	
                        </div>					
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="average-rating">4.7</span>
                        </div>
                    </div>
                </div>	
                <div class="col-md-12 text-center">
                    <a href="#" class="btn more-btn"><img src="assets/img/loader-icon.svg" height="24" alt="User Image">Load More </a>
                </div>
            </div>
        </div>
    </div>

</div>