<app-loader></app-loader>

<div
  class="main-wrapper"
  [ngClass]="{
    'menu-opened': showMiniSidebar === true
  }"
>
<!-- <app-header *ngIf="isuserHeader === true"></app-header> -->
<div
  class="main-wrapper"
  [ngClass]="{
    
    'chat-page': page === 'message' || page === 'chats',
    'body-two': base === 'home2',
    'body-three': base === 'home3',
    'body-four': base === 'home',
    'body-five': base === 'home5',
    'dashboard-page':page === 'dashboard' || page === 'dashboards',
    'expand-menu': expandMenu === true && miniSidebar === true ,
    'mini-sidebar': miniSidebar === true,
    'slide-nav': mobileSidebar === true ,
    'home-page bg-one':base === 'home',
    'home-page bg-two':base === 'home2',
    'home-page bg-three':base === 'home3',
    'home-page bg-four':base === 'home',
    'home-page bg-five' :base === 'home5'

    

  }"
><router-outlet></router-outlet>
</div>

<app-footer *ngIf="isFooter === true"></app-footer>
<button (click)="scrollToTop()" class="scroll-top scroll-to-target open "  data-target="html">
  <span class="ti-angle-up"><img src="assets/img/icon/top-icon.svg" class="img-fluid" alt=""></span>
</button>

