.ng2-tag-input__text-input {

    padding: 0 0.5rem !important;
    margin: 15px 0 !important;
    height: 15px !important;
}
.cal-icon {
    .mat-datepicker-toggle {
        position: absolute;
        right: 0px;
        top: 2px;
    }
}
.mat-select {
    padding: 10px 15px;
    font-size: 15px;
    z-index: 99;
}
    