			<!-- Breadcrumb -->
			<div class="bread-crumb-bar">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<div class="breadcrumb-list">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a [routerLink]="'/home'"><img src="assets/img/home-icon.svg" alt=""> Home</a></li>
										<li class="breadcrumb-item" aria-current="page">Post a Project</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
						
			<!-- Page Content -->
			<div class="content content-page">	
				<div class="container">
					<div class="row">		
						<div class="col-md-12">		
							<div class="select-project mb-4">		
							<form action="dashboard.html">	
								<div class="title-box widget-box">
								
									<!-- Project Title -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Project Name</h3>
											<div class="form-group mb-0">
												<input type="text" class="form-control" placeholder="Enter Project title">
											</div>
										</div>					
									</div>
									<!-- /Project Title -->
									
									<!-- Category Content -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Category Type</h3>
											<div class="form-group mb-0">
												<mat-select class="form-control"  [(value)]="selected1">
													<mat-option value="select">Select</mat-option>
													<mat-option value="apps">Apps Development</mat-option>
													<mat-option value="ui">UI Development</mat-option>
													<mat-option value="java">JAVA</mat-option>
												  </mat-select>
											</div>
										</div>					
									</div>	
									<!-- /Category Content -->
									
									<!-- Price Content -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Pricing Type</h3>
											<div class="form-group price-cont mb-0" id="price_type">
												<mat-select class="form-control"  [(value)]="selected">
													<mat-option value="select">Select</mat-option>
													<mat-option value="Budget">Fixed Budget Price</mat-option>
													<mat-option value="Hourly">Hourly Pricing</mat-option>
													<mat-option value="Biding">Biding Price</mat-option>
												  </mat-select>
											</div>
											<div class="form-group mt-3" id="price_id" style="display: none;">
												<div class="input-group">
													<div class="input-group-prepend">
														<button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">$</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Dollars</a>
															<a class="dropdown-item" href="#">Euro</a>
															<a class="dropdown-item" href="#">Bitcoin</a>
														</div>
													</div>
													<input type="text" class="form-control" placeholder="20.00">
												</div>
											</div>
											<div class="form-group mt-3" id="hour_id" style="display: none;">
												<div class="row">
													<div class="col-md-6 mb-2">
														<div class="input-group form-inline">
															<div class="input-group-prepend">
																<button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">$</button>
																<div class="dropdown-menu">
																	<a class="dropdown-item" href="#">Dollars</a>
																	<a class="dropdown-item" href="#">Euro</a>
																	<a class="dropdown-item" href="#">Bitcoin</a>
																</div>
															</div>
															<input type="text" class="form-control mr-2" placeholder="20.00"> <label> / hr</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="input-group form-inline">
															<label>For </label> <input type="text" class="form-control ml-2" placeholder=" ( eg: 2 Weeks)"> 
														</div>
													</div>
												</div>
											</div>
										</div>					
									</div>		
									<!-- /Price Content -->
									
									<!-- Skills Content -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Desired areas of expertise </h3>
											<div class="form-group mb-0">
												<tag-input [(ngModel)]='tag' class="form-control tags-service" placeholder="Enter Tag" [ngModelOptions]="{standalone: true}"></tag-input>
												<p class="text-muted mb-0">Enter skills for needed for project</p>
											</div>
										</div>					
									</div>
									<!-- /Skills Content -->
									
									<!-- Project Period Content -->
									<div class="title-content">	
										<div class="title-detail">
											<h3>Period of Project</h3>
											<div class="form-group mb-0" id="pro_period">
												<div class="radio">
													<label class="custom_radio">
														<input type="radio"  name="period" [value]="2" (change)="hide()" [(ngModel)]="readioSelected">
														<span class="checkmark"></span>  Start  immediately  after the  candidate is selected
													</label>
												</div>
												<div class="radio">
													<label class="custom_radio">
														<input type="radio"  name="period" [value]="1" (change)="hide()" [(ngModel)]="readioSelected" [checked]="isChecked">
														<span class="checkmark"></span>  Job will Start On 
													</label>
												</div>
											</div>
											<div class="row" [style.display]="showcontent === 1? 'block' : 'none'" >
												<div class="col-md-4">
													<div class="filter-widget mb-0" id="period_date">
														<div class="cal-icon"> 
															<input class="form-control" matInput [matDatepicker]="picker" placeholder="Select Date">
															<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
															<mat-datepicker #picker></mat-datepicker>
															<!-- <input type="date" class="form-control datetimepicker" placeholder="Select Date"> -->
														</div>			
													</div>								
												</div>								
											</div>								
										</div>					
									</div>
									<!-- /Project Period Content -->
									
									<!-- /Add Document -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Add Documents</h3>
											<div class="custom-file">
												<input type="file" class="custom-file-input">
												<label class="custom-file-label"></label>
											</div>
											<p class="mb-0">Size of the Document should be Below 2MB</p>											
										</div>					
									</div>	
									<!-- /Add Document -->
									
									<!-- Add Links -->
									<div class="title-content">
										<div class="title-detail">
											<h3>Add Links</h3>
											<div class="links-info">
												<div class="row form-row links-cont">
													<div class="col-12 col-md-11">
														<div class="form-group mb-0">
															<input type="text" class="form-control">
															<p class="mb-0">Add Reference links if any</p>
														</div> 
													</div>
													<div class="col-12 col-md-1">
														<a href="javascript:void(0);" class="btn add-links" (click)="addSkills()"><i class="fas fa-plus"></i></a>
													</div>
												</div>
												<div class="row form-row links-cont" *ngFor="let skills of skillsArray; let i = index">
													<div class="col-12 col-md-11 col-lg-11">
														<div class="form-group">
															<label>Add</label>
															<input type="text" class="form-control">
														</div>
													</div>
													<div class="col-12 col-md-1 col-lg-1" *ngIf="i !== 10">
														<label class="d-md-block d-sm-none d-none">&nbsp;</label>
														<a href="javascript:void(0);" class="btn btn-danger trash" (click)="deleteSkills(i)"><i class="far fa-trash-alt"></i></a>
													</div>
												</div>
											</div>										
										</div>					
									</div>
									<!-- /Add Links -->	

									<!-- Project Title -->
									<div class="title-content pb-0">
										<div class="title-detail">
											<h3>Write Description of Projects </h3>
											<form [formGroup]="form">
												<div class="editor">
													<ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
													</ngx-editor-menu>
													<ngx-editor [editor]="editor" formControlName="editorContent">
													</ngx-editor>
												</div>
											</form>
										</div>					
									</div>
									<!-- /Project Title -->
									
									<div class="row">
										<div class="col-md-12 text-end">
											<div class="btn-item">
												<button type="submit" class="btn next-btn">Submit</button>
											</div>
										</div>
									</div>
									
								</div>
								<!-- Project Title -->

							</form>					
							</div>					
						</div>					
					</div>					
				</div>					
			</div>					
			<!-- /Page Content -->
   