

                <div class="blog-view">
                
                    <!-- Blog Post -->
                    <div class="blog-single-post pro-post widget-box">
                        <div class="blog-image">
                            <a [routerLink] = "'/blog-details'"><img alt="" src="assets/img/blog/blog-01.jpg" class="img-fluid"></a>
                        </div>
                        <h3 class="blog-title">Your next job starts right here</h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a [routerLink] = "'/developer-details'"><img src="assets/img/img-02.jpg" alt="Post Author"> <span>John Doe</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-calendar"></i>4 May 2021</li>
                                    <li><i class="far fa-comments"></i>12 Comments</li>
                                    <li><i class="fas fa-tags"></i>job Tips</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a [routerLink] = "'/blog-details'" class="read-more">Read More</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->
                    
                    <!-- Blog Post -->
                    <div class="blog-single-post pro-post widget-box">
                        <div class="blog-image">
                            <a [routerLink] = "'/blog-details'"><img alt="" src="assets/img/blog/blog-02.jpg" class="img-fluid"></a>
                        </div>
                        <h3 class="blog-title">What are the benefits of applying job Online?</h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a [routerLink] = "'/developer-details'"><img src="assets/img/img-03.jpg" alt="Post Author"> <span>Nick Joe</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-calendar"></i>4 May 2021</li>
                                    <li><i class="far fa-comments"></i>12 Comments</li>
                                    <li><i class="fas fa-tags"></i>Job Tips</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a [routerLink] = "'/blog-details'" class="read-more">Read More</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->
                    
                    <!-- Blog Post -->
                    <div class="blog-single-post pro-post widget-box">
                        <div class="blog-image">
                        <div class="video">
                            <iframe src="https://www.youtube.com/embed/ExJZAegsOis" width="940"></iframe>
                        </div>
                    </div>
                        <h3 class="blog-title">Mock job interview to get a job</h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            <a [routerLink] = "'/developer-details'"><img src="assets/img/img-03.jpg" alt="Post Author"> <span>Nick Joe</span></a>
                                        </div>
                                    </li>
                                    <li><i class="far fa-calendar"></i>4 May 2021</li>
                                    <li><i class="far fa-comments"></i>12 Comments</li>
                                    <li><i class="fas fa-tags"></i>Job Tips</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sit laboris ullamco laborisut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a [routerLink] = "'/blog-details'" class="read-more">Read More</a>
                        </div>
                    </div>
                    <!-- /Blog Post -->
                    
                    <!-- Blog Pagination -->
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <div class="blog-pagination text-center">
                                <ul class="paginations">
                                    <li><a href="javascript:void(0);"> <i class="fas fa-angle-left"></i> Previous</a></li>
                                    <li><a href="javascript:void(0);">1</a></li>
                                    <li><a href="javascript:void(0);" class="active">2</a></li>
                                    <li><a href="javascript:void(0);">3</a></li>
                                    <li><a href="javascript:void(0);">4</a></li>
                                    <li><a href="javascript:void(0);">Next <i class="fas fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Blog Pagination -->
                    
                </div>