			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Verify Identity Details</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Home</a></li>
									<li class="breadcrumb-item active">Verify Identity Details</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->


					<div class="row">
						<div class="col-lg-12">
							<div class="card bg-white">
								<div class="card-body pt-0">
									<div class="card-header mb-4">
										<ul role="tablist" class="nav nav-pills card-header-pills nav-justified">
											<li class="nav-item">
												<a href="#employer" data-bs-toggle="tab" class="nav-link active me-1">Employers</a>
											</li>
											<li class="nav-item">
												<a href="#freelancer" data-bs-toggle="tab" class="nav-link">Freelancers</a>
											</li>
										</ul>
									</div>
									<div class="tab-content pt-0">
										<div role="tabpanel" id="employer" class="tab-pane fade show active">
											<div class="card">
												<div class="card-body">
													<div class="table-responsive">
														<div class="table_header">
															<div class="dataTables_length">
																<label>
																	Show
																</label>
																<select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
																class="form-control form-control-sm">
																<option value="10">10</option>
																<option value="25">25</option>
																<option value="50">50</option>
																<option value="100">100</option>
															</select>
															<label >Entries</label>
															</div>
															<div class="dataTables_filter">
																<label>
																	Search:
																</label>
																<input [(ngModel)]="searchDataValue"
																	(ngModelChange)="searchData(searchDataValue)"
																	class="form-control form-control-sm" />
															</div>
														</div>
														<div class="table-scroll">
															<table matSort (matSortChange)="sortData($event)"
																class="table table-center table-hover mb-0 datatable">
																<thead>
																	<tr>
																		<th mat-sort-header="id">No</th>
																		<th mat-sort-header="name">Name</th>
																		<th mat-sort-header="contact">Contact Number</th>	
																		<th mat-sort-header="passport">CNIC / Passport / NIN / SSN</th>	
																		<th mat-sort-header="image">Document</th>	
																		<th mat-sort-header="address">Address</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
																	<tr *ngFor = "let identity of lstIdentity; let i = index">
																		<td>{{identity.id}}</td>
																		<td>{{identity.name}}</td>
																		<td>{{identity.contact}}</td>
																		<td>{{identity.passport}}</td>
																		<td>
																			<h2 class="table-avatar">
																				<a [routerLink]="'/admin/profile'"><img class="me-2 rounded-circle" [src]="identity.image" alt="User Image"></a>
																			</h2>
																		</td>
																		<td>{{identity.address}}</td>
																		<td>
																			<a href="javascript:" class="btn btn-success btn-disable me-2">Approve</a>
																			<a href="javascript:" class="btn btn-disable">Reject</a>
																		</td>
																	</tr>																		
																</tbody>
															</table>
														</div>
														<div class="table_footer">
															<div class="col-sm-12 col-md-5">
																<div class="dataTables_info">
																	Showing {{ serialNumberArray[0] }} to
																	{{ serialNumberArray[serialNumberArray.length - 1] }} of
																	{{ totalData }} entries
																</div>
															</div>
													
															<div class="col-sm-12 col-md-7">
																<div class="pagination_section">
																	<ul class="pagination">
																		<li class="page-item" [ngClass]="{
													disabled: currentPage === 1
													}">
																			<a (click)="getMoreData('previous')" class="page-link"
																				href="javascript:void(0);" tabindex="-1">Previous</a>
																		</li>
													
																		<ng-container *ngFor="let item of pageNumberArray; let i = index">
																			<li class="page-item" [class.active]="item === currentPage" [ngClass]="
														(pageNumberArray[currentPage - 2] > item &&
														item !== 1 &&
														pageNumberArray.length > 6) ||
														(pageNumberArray[currentPage] < item &&
														item !== 1 &&
														pageNumberArray.length > 6 &&
														pageNumberArray.length !== item)
														? 'hide-page-no'
														: 'show-page-no'
													">
																				<a (click)="moveToPage(item)" class="page-link"
																					href="javascript:void(0);">
																					{{ item }}
																				</a>
																			</li>
																			<li class="page-item" *ngIf="
														i === 0 && pageNumberArray.length > 6 && currentPage > 2
													" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
																				<a class="page-link" href="javascript:void(0);"> ... </a>
																			</li>
																			<li *ngIf="
														i === pageNumberArray.length - 2 &&
														pageNumberArray.length > 6
													" [hidden]="
														currentPage >=
														pageNumberArray[pageNumberArray.length - 2] ||
														totalData < serialNumberArray[serialNumberArray.length - 1]
													" class="page-item" (click)="moveToPage(currentPage + 2)">
																				<a class="page-link" href="javascript:void(0);"> ... </a>
																			</li>
																		</ng-container>
													
																		<li class="page-item" [ngClass]="{
													disabled:
														currentPage ===
														pageNumberArray[pageNumberArray.length - 1] ||
														lstIdentity.length === 0
													}">
																			<a (click)="getMoreData('next')" class="page-link"
																				href="javascript:void(0);">Next
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div role="tabpanel" id="freelancer" class="tab-pane fade">
											<div class="card">
												<div class="card-body">
													<div class="table-responsive">
														<div class="table_header">
															<div class="dataTables_length">
																<label>
																	Show
																</label>
																<select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
																class="form-control form-control-sm">
																<option value="10">10</option>
																<option value="25">25</option>
																<option value="50">50</option>
																<option value="100">100</option>
															</select>
															<label >Entries</label>
															</div>
															<div class="dataTables_filter">
																<label>
																	Search:
																</label>
																<input [(ngModel)]="searchDataValue"
																	(ngModelChange)="searchData(searchDataValue)"
																	class="form-control form-control-sm" />
															</div>
														</div>
														<div class="table-scroll">
															<table matSort (matSortChange)="sortData($event)"
																class="table table-center table-hover mb-0 datatable">
																<thead>
																	<tr>
																		<th mat-sort-header="id">No</th>
																		<th mat-sort-header="name">Name</th>
																		<th mat-sort-header="contact">Contact Number</th>	
																		<th mat-sort-header="passport">CNIC / Passport / NIN / SSN</th>	
																		<th mat-sort-header="image">Document</th>	
																		<th mat-sort-header="address">Address</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
																	<tr *ngFor = "let identity of lstIdentity; let i = index">
																		<td>{{identity.id}}</td>
																		<td>{{identity.name}}</td>
																		<td>{{identity.contact}}</td>
																		<td>{{identity.passport}}</td>
																		<td>
																			<h2 class="table-avatar">
																				<a [routerLink]="'/admin/profile'"><img class="me-2 rounded-circle" [src]="identity.image" alt="User Image"></a>
																			</h2>
																		</td>
																		<td>{{identity.address}}</td>
																		<td>
																			<a href="javascript:" class="btn btn-success btn-disable me-2">Approve</a>
																			<a href="javascript:" class="btn btn-disable">Reject</a>
																		</td>
																	</tr>																		
																</tbody>
															</table>
														</div>
														<div class="table_footer">
															<div class="col-sm-12 col-md-5">
																<div class="dataTables_info">
																	Showing {{ serialNumberArray[0] }} to
																	{{ serialNumberArray[serialNumberArray.length - 1] }} of
																	{{ totalData }} entries
																</div>
															</div>
													
															<div class="col-sm-12 col-md-7">
																<div class="pagination_section">
																	<ul class="pagination">
																		<li class="page-item" [ngClass]="{
													disabled: currentPage === 1
													}">
																			<a (click)="getMoreData('previous')" class="page-link"
																				href="javascript:void(0);" tabindex="-1">Previous</a>
																		</li>
													
																		<ng-container *ngFor="let item of pageNumberArray; let i = index">
																			<li class="page-item" [class.active]="item === currentPage" [ngClass]="
														(pageNumberArray[currentPage - 2] > item &&
														item !== 1 &&
														pageNumberArray.length > 6) ||
														(pageNumberArray[currentPage] < item &&
														item !== 1 &&
														pageNumberArray.length > 6 &&
														pageNumberArray.length !== item)
														? 'hide-page-no'
														: 'show-page-no'
													">
																				<a (click)="moveToPage(item)" class="page-link"
																					href="javascript:void(0);">
																					{{ item }}
																				</a>
																			</li>
																			<li class="page-item" *ngIf="
														i === 0 && pageNumberArray.length > 6 && currentPage > 2
													" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
																				<a class="page-link" href="javascript:void(0);"> ... </a>
																			</li>
																			<li *ngIf="
														i === pageNumberArray.length - 2 &&
														pageNumberArray.length > 6
													" [hidden]="
														currentPage >=
														pageNumberArray[pageNumberArray.length - 2] ||
														totalData < serialNumberArray[serialNumberArray.length - 1]
													" class="page-item" (click)="moveToPage(currentPage + 2)">
																				<a class="page-link" href="javascript:void(0);"> ... </a>
																			</li>
																		</ng-container>
													
																		<li class="page-item" [ngClass]="{
													disabled:
														currentPage ===
														pageNumberArray[pageNumberArray.length - 1] ||
														lstIdentity.length === 0
													}">
																			<a (click)="getMoreData('next')" class="page-link"
																				href="javascript:void(0);">Next
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>		
						</div>			
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->