			<!-- Breadcrumb -->
			<div class="bread-crumb-bar">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<div class="breadcrumb-list">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a [routerLink]="'/home'"><img src="assets/img/home-icon.svg" alt="Post Author"> Home</a></li>
										<li class="breadcrumb-item" aria-current="page">Blank Page</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
    
    <!-- Page Content -->
    <div class="content content-page">
        <div class="container">					
            <div class="row">
                <div class="col-12">
                    <h5>Blank Page</h5>
                </div>
            </div>
        </div>
    </div>					
    <!-- /Page Content -->