.mat-select {
    padding: 0px 17px;
    font-size: 18px;
    border-right: 1px solid #CFCFCF;
    z-index: 99;
    .mat-select-value {
        color: #fff;
    }
    .mat-select-arrow-wrapper {
        color: #fff;
    }

}
